* {

    font-family: 'Oxanium', 'sans-serif';
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1.3rem;
    color: #fff;

}

body {
    display: relative;
    height: 100vh;



}

.container {

    background-image: url(../images/wood2.jpg);
    background-size: cover;
    min-height: 98vh;
    display: grid;
    grid-template-rows: 0.5fr 4fr;
    grid-gap: 1rem;

}

.app-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    border: 1px solid green;

}

.app-main__game {

    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 0.5fr 0.5fr 3fr;

    border: 1px solid red;
}

.app-main__game__username {
    border: 1px solid red;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;

}

#userName,
#score,
#multiplicator {
    color: maroon;
}

.app-main__game__score {
    border: 1px solid green;
    display: grid;
    justify-content: center;
}

.app-main__game__picture {
    display: grid;
    justify-content: center;
    padding-top: 2rem;

}

.app-main__game__picture img {
    height: 10rem;
    width: 10rem;
    cursor: pointer;

}

.app-name {
    display: grid;
    justify-content: center;
    align-items: top;
    border: 1px solid red;
    padding: 0px;

}

.app-name h2 {
    color: #fff;
    font-size: 4rem;
    text-shadow: 1px 6px maroon;
}

.app-main__features {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    text-align: center;

}

.app-main__features__optionsList {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 1rem;
}

.app-main__features__optionsList .option {

    width: 15rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.9rem;
    outline: none;
    color: maroon;
    cursor: pointer;
    background-color: Transparent;
    transition: all 400ms ease-in;

}

.app-main__features__optionsList .option:hover {

    color: #fff;
    background-color: maroon;
}

.app-main__features__optionsList .option:hover #avcompa {
    color: #fff;

}

.app-main__features__optionsList .option:hover #avcompo {
    color: #fff;
}

.app-main__game__username span {
    color: #fff;
    font-size: 1.4rem;
}


@keyframes animationCookie {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}


.animation {
    animation: animationCookie 300ms ease-in;
}


h5 span {
    color: maroon;
    padding: 0.3rem;
}

#avcompa,
#avcompo {
    color: maroon;

}

/*body::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
     background-color: rgba(0, 0, 0, 0.1);



}*/

h6 {
    margin-top: 0.5rem;
}

h6 span {
    color: maroon;
}
